# docker db url
# example: postgres://postgres:qwerty123@postgres:5432/go_todo?sslmode=disable
DB_URL=postgres://db_user:db_password@postgres:5432/db_name?sslmode=disable

# db credentials
DB_PASS=db_password
DB_USER=db_user
DB_NAME=db_name

# db-service
# example: http://db-service:8010 (DON'T SET 8080, it's used by api-service)
DB_SERVICE_URL=http://service-name:port

# For migrations
# step - migrate up or down on n number of steps
# example: step=1
step=n
LOCAL_DB_URL=postgres://postgres:dimas123@localhost:5432/go_todo?sslmode=disable