# docker db url
# example: postgres://postgres:qwerty321@postgres:5432/go_todo?sslmode=disable
DB_URL=

# log level
# example: info
LOG_LEVEL=

# db credentials
DB_PASS=
DB_USER=
DB_NAME=

# db-service
# example: http://db-service:8030 (DON'T SET 8080, it's used by api-service)
# example: :8030 (default: :8010)
DB_SERVICE_URL=
DB_SERVICE_PORT=

# For migrations
# step - migrate up or down on n number of steps
# example: step=1
# example: postgres://postgres:qwerty321@localhost:5432/go_todo?sslmode=disable
step=
LOCAL_DB_URL=